<nav class="navbar">
  <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
    <i class="fa fa-bars"></i>
  </label>
  <%= link_to 'Saveroba', root_path, class: "logo" %>
  <input type="checkbox" id="chkToggle"></input>
  <ul class="main-nav" id="js-menu">
    <li>
      <a href="#" class="nav-links">Home</a>
    </li>
    <li>
      <a href="#" class="nav-links">Products</a>
    </li>
    <li>
      <a href="#" class="nav-links">About Us</a>
    </li>
    <li>
      <a href="#" class="nav-links">Contact Us</a>
    </li>
    <li>
      <a href="#" class="nav-links">Blog</a>
    </li>
  </ul>
</nav>